
.ipynb_checkpoints/2.3 파이썬을 이용한 기술 통계 - 다변량 데이터-checkpoint.ipynb
.ipynb_checkpoints/3.2 파이썬을 이용한 기술 통계 - 다변량 데이터-checkpoint.ipynb
.ipynb_checkpoints/3.3 matplotlib과 seaborn을 이용한 데이터 시각화-checkpoint.ipynb
.ipynb_checkpoints/3.4 모집단에서 표본 추출 시뮬레이션-checkpoint.ipynb
.ipynb_checkpoints/3.5 표본 통계량 성질-checkpoint.ipynb
.ipynb_checkpoints/3.6 정규분포와 응용-checkpoint.ipynb
.ipynb_checkpoints/3.7 추정-checkpoint.ipynb
.ipynb_checkpoints/3.8 통계적가설검정-checkpoint.ipynb
